<html>
<body>
<form action="{{url_for('predict_datapoint')}}" method="POST">      
  
<div class="form-group">
  <label for="cap_surface">cap_surface:</label>
  <select id="cap_surface" name="cap_surface">
    <option value="s">smooth</option>
    <option value="y">scaly</option>
    <option value="f">fibrous</option>
    <option value="g">grooves</option>
  </select>
</div>
  
<div class="form-group">
  <label for="bruises">bruises:</label>
  <select id="bruises" name="bruises">
    <option value="t">bruises</option>
    <option value="f">no</option>
  </select>
</div>

<div class="form-group">
  <label for="gill_spacing">gill_spacing:</label>
  <select id="gill_spacing" name="gill_spacing">
    <option value="c">close</option>
    <option value="w">crowded</option>
    <option value="d">distant</option>
  </select>
</div>

<div class="form-group">
  <label for="gill_size">gill_size:</label>
  <select id="gill_size" name="gill_size">
    <option value="n">narrow</option>
    <option value="b">broad</option>
  </select>
</div>

<div class="form-group">
  <label for="gill_color">gill_color:</label>
  <select id="gill_color" name="gill_color">
    <option value="k">black</option>
    <option value="n">brown</option>
    <option value="g">gray</option>
    <option value="p">pink</option>
    <option value="w">white</option>
    <option value="h">chocolate</option>
    <option value="u">purple</option>
    <option value="e">red</option>
    <option value="b">buff</option>
    <option value="r">green</option>
    <option value="y">yellow</option>
    <option value="o">orange</option>
  </select>
</div>

<div class="form-group">
  <label for="stalk_root">stalk_root:</label>
  <select id="stalk_root" name="stalk_root">
    <option value="e">equal</option>
    <option value="c">club</option>
    <option value="b">bulbous</option>
    <option value="r">rooted</option>
    <option value="u">cup</option>
    <option value="z">rhizomorphs</option>
  </select>
</div>

<div class="form-group">
  <label for="stalk_surface_above_ring">stalk_surface_above_ring:</label>
  <select id="stalk_surface_above_ring" name="stalk_surface_above_ring">
    <option value="s">smooth</option>
    <option value="f">fibrous</option>
    <option value="k">silky</option>
    <option value="y">scaly</option>
  </select>
</div>

<div class="form-group">
  <label for="stalk_surface_below_ring">stalk_surface_below_ring:</label>
  <select id="stalk_surface_below_ring" name="stalk_surface_below_ring">
    <option value="s">smooth</option>
    <option value="f">fibrous</option>
    <option value="k">silky</option>
    <option value="y">scaly</option>
  </select>
</div>

<div class="form-group">
  <label for="ring_type">ring_type:</label>
  <select id="ring_type" name="ring_type">
    <option value="p">pendant</option>
    <option value="e">evanescent</option>
    <option value="l">large</option>
    <option value="f">flaring</option>
    <option value="n">none</option>
    <option value="c">cobwebby</option>
    <option value="s">sheathing</option>
    <option value="z">zone</option>
  </select>
</div>

<div class="form-group">
  <label for="spore_print_color">spore_print_color:</label>
  <select id="spore_print_color" name="spore_print_color">
    <option value="k">black</option>
    <option value="n">brown</option>
    <option value="u">purple</option>
    <option value="h">chocolate</option>
    <option value="w">white</option>
    <option value="r">green</option>
    <option value="o">orange</option>
    <option value="y">yellow</option>
    <option value="b">buff</option>
  </select>
</div>

<div class="form-group">
  <label for="habitat">habitat:</label>
  <select id="habitat" name="habitat">
    <option value="u/n">urban</option>
    <option value="g/n">grasses</option>
    <option value="m/n">meadows</option>
    <option value="d/n">woods</option>
    <option value="p/n">paths</option>
    <option value="w/n">waste</option>
    <option value="l/n">leaves</option>
  </select>
</div>

<div class="form-group">
  <label for="population">population:</label>
  <select id="population" name="population">
    <option value="s">scattered</option>
    <option value="n">numerous</option>
    <option value="a">abundant</option>
    <option value="v">several</option>
    <option value="y">solitary</option>
    <option value="c">clustered</option>
  </select>
</div>
<div style="clear:both;"></div>
  <input type="submit" value="Submit">
</form>
</body>
</html>